<h1>BNPM News</h1>
<p>BNPM News is a public news service in Australia produced by the
News and Current Affairs division of the AU News. The division is responsible for all news-gathering
and production of news output for BNPM television, radio and
online services</p>
<br>
<br>
<br>
<div class="">
  <h3>Contact BNPM News:</h3>
  <h5>Bhavya</h5>
  <h5>Nelly</h5>
  <h5>Priyanka</h5>
  <h5>Mauritz</h5>
</div>
